﻿<div id="modDialog2" class="modal fade">
    <div id="dialogContent2" class="modal-dialog">
        <div class="modal-content" style="width: 140px">
            <div class="modal-header" style="height: 50px">
                <button class="close crossbutton" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <form class="dodelete" asp-area="Admin">
                    <div class="row no-gutters" style="height: 100%">
                        <div style="margin-bottom: 10px">Are you sure?</div>
                        <div>
                            <input type="submit" class="btn btn-primary submitinput" value="Yes" />
                            <a class="btn btn-outline-secondary" data-dismiss="modal">No</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>