﻿<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="namediv text-primary" style="text-transform: uppercase; font-weight: bold"></div>
                <button class="close crossbutton" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters" style="height: 100%">
                    <div class="col-md-4">
                        <img class="card-img detailsimg">
                    </div>
                    <div class="col-md-8">
                        <div class="descdiv" style="padding-left: 13px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>