﻿@model CMSys.Web.Areas.Admin.ViewModels.AddTrainerViewModel

@{
    ViewBag.Title = "Add trainer ";

    var groups = new List<SelectListItem>();
    groups.AddRange(Model.Groups.Select(x => new SelectListItem(x.Name, x.Id.ToString())));

    var users = new List<SelectListItem>();
    users.AddRange(Model.Users.Select(x => new SelectListItem(x.FirstName + " " + x.LastName, x.Id.ToString())));
}

<form asp-action="Add">
    <div class="form-group" style="width: 50%">
        <label>Trainer</label>
        <div class="input-group-append" style="margin-right: 8px">
            <select class="custom-select" asp-for="UserId">
                @foreach (var item in users)
                {
                    <option style="background-color: white" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group" style="width: 50%">
        <label>Trainer Group</label>
        <div class="input-group-append" style="margin-right: 8px">
            <select class="custom-select" asp-for="Trainer.TrainerGroupId">
                @foreach (var item in groups)
                {
                    <option style="background-color: white" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group" style="width: 50%">
        <label asp-for="Trainer.VisualOrder">Visual Order</label>
        <input asp-for="Trainer.VisualOrder" class="form-control" data-val="false" />
        <span asp-validation-for="Trainer.VisualOrder" class="text-danger"></span>
    </div>
    <div class="form-group" style="width: 50%">
        <label asp-for="Trainer.Description"></label>
        <textarea asp-for="Trainer.Description" class="form-control owerflow-auto" placeholder="Put description here" rows="5" style="height: 60px"></textarea>
    </div>
    <div style="margin-bottom: -20px">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="List" type="button" class="btn btn-outline-secondary">Back to list</a>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}