﻿@model CMSys.Web.Areas.Admin.ViewModels.EditTrainerViewModel

@{
    ViewBag.Title = "Update trainer " + Model.Trainer.User.FirstName + " " + Model.Trainer.User.LastName;

    var groups = new List<SelectListItem>();
    groups.AddRange(Model.Groups.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
}

<form asp-action="Edit">
    <div class="form-group">
        <input asp-for="Trainer.Id" class="form-control-plaintext" type="hidden" readonly="readonly" />
    </div>
    <div class="form-group" style="margin-top: -23px">
        <label>Course Group</label>
        <div class="input-group-append" style="margin-right: 8px">
            <select class="custom-select" style="width: 300px;" asp-for="Trainer.TrainerGroupId">
                @foreach (var item in groups)
                {
                    <option style="background-color: white" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Trainer.VisualOrder">Visual Order</label>
        <input asp-for="Trainer.VisualOrder" class="form-control" data-val="false" />
        <span asp-validation-for="Trainer.VisualOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Trainer.Description"></label>
        <textarea asp-for="Trainer.Description" class="form-control owerflow-auto" placeholder="Put description here" rows="5" style="height: 60px"></textarea>
    </div>
    <div style="margin-bottom: -20px">
        <input type="submit" class="btn btn-primary" value="Update" />
        <a asp-action="List" type="button" class="btn btn-outline-secondary">Back to list</a>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
