﻿@model IEnumerable<CMSys.Core.Entities.Trainer>
@{
    ViewBag.Title = "Trainers";
}

<div style="display: flex;float: right; margin-top: -10px">
    <a asp-action="Add" asp-route-id="" class="btn btn-outline-light" style="margin-bottom: 10px; border: 1px solid lightgray; width: 37px; height: 37px; display: block; background: whitesmoke ">
        <i class="fa fa-plus" aria-hidden="true" style="font-size:25px; display: block; margin-left: -47%; color: gray"></i>
    </a>
</div>

<partial name="DeletePopUp"/>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">Group</th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Order</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainer in Model)
        {
            <tr>
                <th style="font-weight: normal">@trainer.TrainerGroup.Name.ToUpper()</th>
                <td>
                    <img src="data:image/png;base64,@Convert.ToBase64String(trainer.User.Photo)" class="card-img">
                </td>
                <td>@trainer.User.FirstName @trainer.User.LastName</td>
                <td>@trainer.Description</td>
                <td>@trainer.VisualOrder</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@trainer.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; margin-left: 5px; width: 30px; display: block; margin: auto; margin-bottom: 5px;">
                        <i class="fas" style="font-size: 20px; display: block; margin-left: -185%; color: #007bff;"> &#xf303; </i>
                    </a>
                    <a onclick="onDeleteTrainerClick(event)" id="@trainer.Id" class="btn btn-outline-light" style="border: 1px solid red; margin-left: 5px; width: 30px; display: block;margin: auto">
                        <i id="@trainer.Id" style="font-size: 20px; display: block; margin-left: -172%; color: red;" class="fa fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>