﻿@model CMSys.Web.Areas.Admin.ViewModels.EditUserViewModel

@{
    ViewBag.Title = Model.User.FirstName + " " + Model.User.LastName;
}


<div class="container">
    <div>
        <img style="height: 240px; width: 175px" src="data:image/png;base64,@Convert.ToBase64String(Model.User.Photo)" class="card-img">
    </div>
    <div>Department: @Model.User.Department</div>
    <div>Location: @Model.User.Location</div>
    <div>Position: @Model.User.Position</div>
    <div>Start Date: @Model.User.StartDate.Value.ToShortDateString()</div>
    <div>
        Roles:
        @foreach (var role in @Model.User.UserRole)
        {
            <span class="badge badge-danger">@role.Role.Name</span>
        }
    </div>
        <a asp-action="List" asp-route-page="@Model.Page" type="button" class="btn btn-outline-secondary" style="margin-top: 15px;">Back to list</a>
</div>
