﻿@model CMSys.Web.Areas.Admin.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Update user " + Model.User.FirstName + " " + Model.User.LastName;

    var roles = new List<SelectListItem>();
    roles.AddRange(Model.Roles.Select(x => new SelectListItem(x.Name, x.Id.ToString())));

    var user_roles = new List<SelectListItem>();
    if (Model.User.UserRole.Count != 0)
    {
        user_roles.AddRange(Model.User.UserRole.Select(x => new SelectListItem(x.Role.Name, x.RoleId.ToString())));
    }
}

<div style="display: flex">
    <form asp-action="Edit" style="width: 45%">
        <div style="font-weight: bold; font-size: 20px">Change password</div>
        <div class="form-group">
            <input asp-for="User.Id" class="form-control-plaintext" type="hidden" readonly="readonly"/>
            <input asp-for="Page" class="form-control-plaintext" type="hidden" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">New Password</label>
            <input asp-for="NewPassword" class="form-control" data-val="false"/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RepeatPassword">Repeat password again</label>
            <input asp-for="RepeatPassword" class="form-control" data-val="false"/>
            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
        </div>
        <div style="margin-bottom: -20px">
            <input type="submit" class="btn btn-primary" value="Change"/>
            <a asp-action="List" asp-route-page="@Model.Page" type="button" class="btn btn-outline-secondary">Back to list</a>
        </div>
    </form>
    
    <div style="margin-left: 150px">
        <form asp-action="AddRole">
            <div style="font-weight: bold; font-size: 20px">Change role</div>
            <div class="form-group">
                <input asp-for="User.Id" class="form-control-plaintext" type="hidden" readonly="readonly" />
                <input asp-for="Page" class="form-control-plaintext" type="hidden" readonly="readonly" />
            </div>
            <div class="input-group-append" style="margin-right: 8px">
                <select class="custom-select" style="width: 300px;" asp-for="Role">
                    @foreach (var item in roles)
                    {
                        <option style="background-color: white" value="@item.Value">@item.Text</option>
                    }
                </select>
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>
        </form>
        @if (user_roles.Count() != 0)
        {
            <form asp-action="RemoveRole">
                <div class="form-group">
                    <input asp-for="User.Id" class="form-control-plaintext" type="hidden" readonly="readonly" />
                    <input asp-for="Page" class="form-control-plaintext" type="hidden" readonly="readonly" />
                </div>
                <div class="input-group-append" style="margin-right: 8px">
                    <select class="custom-select" style="width: 300px;" asp-for="Role">
                        @foreach (var item in user_roles)
                        {
                            <option style="background-color: white" value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <input type="submit" class="btn btn-primary" value="Remove" />
                </div>
            </form>
        }
    </div>

</div>


@section Scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
