﻿@model CMSys.Web.Areas.Admin.ViewModels.UserViewModel
@addTagHelper *, CMSys.Web
@{
    ViewBag.Title = "Users";
}

<partial name="PopUp" />

<div class="container" style="display: flex; padding: 0">
    <users class="col-6" page-model="Model.PageModel" area="Admin" action="List" controller="User"></users>
    <div class="row ml-auto" style="margin-right: 0;">
        <form asp-action="List" style="display: flex">
            <div class="form-group" style="margin-right: 5px">
                <input asp-for="Name" class="form-control" data-val="false"/>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Find"/>
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Department</th>
        <th>Position</th>
        <th>Location</th>
        <th>Active</th>
        <th style="width: 65px">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.PageModel)
    {
        <tr>
            <td style="font-weight: bold">@user.FirstName @user.LastName</td>
            <td>
                <img src="data:image/png;base64,@Convert.ToBase64String(user.Photo)" class="card-img">
            </td>
            <td>@user.Department</td>
            <td>@user.Position</td>
            <td>@user.Location</td>
            <td>
                @if (user.EndDate == null)
                {
                    <div>Yes</div>
                }
                else
                {
                    <div>No</div>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-page="@Model.PageModel.PageNumber" asp-route-id="@user.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; width: 30px; display: block;">
                    <i class="fa fa-info-circle text-primary" style="font-size: 20px; display: block; margin-left: -185%"></i>
                </a>
                <a asp-action="Edit" asp-route-page="@Model.PageModel.PageNumber" asp-route-id="@user.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; margin-top: 5px; width: 30px; display: block;">
                    <i class="fas" style="font-size: 20px; display: block; margin-left: -185%; color: #007bff;"> &#xf303; </i>
                </a>
            </td>
        </tr>
    }
    </tbody>
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Department</th>
        <th>Position</th>
        <th>Location</th>
        <th>Active</th>
        <th style="width: 65px">Action</th>
    </tr>
    </thead>
</table>

<div class="container" style="display: flex; padding: 0; margin-bottom: -35px">
    <users class="col-6" page-model="Model.PageModel" area="Admin" action="List" controller="User"></users>
    <div style="position: absolute; right: 20px">Showing @Model.UserFilter.First to @Model.UserFilter.Num of @Model.UserFilter.Count users</div>
</div>
