﻿@model Course

@{
    ViewBag.Title = Model.Name;
}


<div class="container">
    <span class="badge badge-secondary">@Model.CourseType.Name</span>
    <div>@Model.Description</div>
    <a asp-action="List" type="button" class="btn btn-outline-secondary" style="margin-top: 15px;">Back to list</a>
</div>
