﻿@model CMSys.Web.ViewModels.CourseViewModel
@addTagHelper *, CMSys.Web
@{
    ViewBag.Title = "Courses";

    var ctype = Model.Types.FirstOrDefault(c => c.Id.CompareTo(Model.CurrentType) == 0);
    string CurrentTypeName = ctype != null ? ctype.Name : "All types";

    var cgroup = Model.Groups.FirstOrDefault(c => c.Id.CompareTo(Model.CurrentGroup) == 0);
    string CurrentGroupName = cgroup != null ? cgroup.Name : "All groups";
}

<partial name="PopUp"/>

<div class="container" style="display: flex; padding: 0">

    <paging class="col-6" page-model="Model.PageModel" action="List" controller="Course"></paging>

    <div class="dropdown float-right col-sm" style="padding: 0;">
        <button id="btnTypeId" class="btn btn-light dropdown-toggle" style="float: right; width: 75%; text-align: left; border: 1px solid lightgray" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CurrentTypeName
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-action="List" class="dropdown-item">All types</a>
            @foreach (var type in Model.Types)
            {
                <a asp-action="List" asp-route-groupId="@Model.CurrentGroup" asp-route-typeId="@type.Id" class="dropdown-item">@type.Name</a>
            }
        </div>
    </div>

    <div class="dropdown float-right col-sm" style="padding: 0">
        <button class="btn btn-light dropdown-toggle" style="float: right; width: 80%; text-align: left; border: 1px solid lightgray" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CurrentGroupName
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-action="List" class="dropdown-item">All groups</a>
            @foreach (var group in Model.Groups)
            {
                <a asp-action="List" asp-route-groupId="@group.Id" asp-route-typeId="@Model.CurrentType" class="dropdown-item">@group.Name</a>
            }
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Course Name</th>
            <th>Type</th>
            <th style="width: 170px">Group</th>
            <th style="min-width: 170px">Trainers</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.PageModel)
        {
            <tr>
                <td style="font-weight: bold">@course.Name</td>
                <td>@course.CourseType.Name</td>
                <td>@course.CourseGroup.Name</td>
                <td rowspan="2">
                    @foreach (var trainer in course.CourseTrainers)
                    {
                        <a id="@trainer.Trainer.Id" onclick="onTrainerClick(event)" class="text-primary" style="float: left">@trainer.Trainer.User.FirstName @trainer.Trainer.User.LastName</a>
                    }
                </td>
                <td rowspan="2">
                    <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; width: 30px; display: block; margin: 0 auto">
                        <i class="fa fa-info-circle text-primary" style="font-size: 20px; display: block; margin-left: -185%"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="3">@Html.Raw(course.Description)</td>
            </tr>
        }
    </tbody>
</table>
