﻿@model IEnumerable<IGrouping<string, Trainer>>
@{
    ViewBag.Title = "Trainers";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="namediv text-primary" style="text-transform: uppercase; font-weight: bold"></div>
                <button class="close crossbutton" data-dismiss="modal" area-hidden="true">X</button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters" style="height: 100%">
                    <div class="col-md-4">
                        <img class="card-img detailsimg">
                    </div>
                    <div class="col-md-8">
                        <div class="descdiv" style="padding-left: 13px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@foreach (var group in Model)
{
    <div class="card" style="margin-bottom: 20px">
        <h5 class="card-header">@group.Key</h5>
        <div class="card-body">
            <div class="card-group">
            @foreach (var trainer in group.ToList())
            {
                <div class="card mb-3" style="min-width: 270px; margin-left: 20px; max-width: 270px;">
                    <div class="row no-gutters" style="border-left: solid 5px #007bff; height: 100%">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-primary" style="text-transform: uppercase; text-align: center">@trainer.User.FirstName @trainer.User.LastName</h5>
                                <a id="@trainer.Id" onclick="onTrainerClick(event)" class="btn btn-outline-light ckickedbtn" style="border: 1px solid #007bff; width: 30px; display: block; margin: 0 auto">
                                    <i id="@trainer.Id" class="fa fa-info-circle text-primary" style="font-size: 20px; display: block; margin-left: -185%"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="data:image/png;base64,@Convert.ToBase64String(trainer.User.Photo)" class="card-img">
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}
