﻿@model CMSys.Web.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
}


<form asp-action="ChangePassword" style="width: 45%">
    <div style="font-weight: bold; font-size: 20px">Change password</div>
    <div class="form-group">
        <input asp-for="Id" class="form-control-plaintext" type="hidden" readonly="readonly" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" data-val="false" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RepeatPassword">Repeat password again</label>
        <input asp-for="RepeatPassword" class="form-control" data-val="false" />
        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
    </div>
    <div style="margin-bottom: -20px">
        <input type="submit" class="btn btn-primary" value="Change" />
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-outline-secondary">Back to main page</a>
    </div>
</form>