﻿@model User

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}


<div class="container">
    <div>
        <img style="height: 240px; width: 175px" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" class="card-img">
    </div>
    <div>Department: @Model.Department</div>
    <div>Location: @Model.Location</div>
    <div>Position: @Model.Position</div>
    <div>Start Date: @Model.StartDate.Value.ToShortDateString()</div>
    <div>
        Roles:
        @foreach (var role in @Model.UserRole)
        {
            <span class="badge badge-danger">@role.Role.Name</span>
        }
    </div>
    <a asp-action="ChangePassword" asp-route-id="@Model.Id" type="button" class="btn btn-outline-secondary" style="margin-top: 15px;">Change password</a>
</div>