﻿@model CMSys.Web.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Sign in";
}
<div>
    <form asp-controller="Login">
        <h1 class="text-primary">Sign in</h1>
        <div class="form-group">
            <label>Email:</label>
            <input asp-for="Email" class="form-control" placeholder="Email" style="width: 50%">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" style="width: 50%"/>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="submit" class="btn btn-primary mt-3" value="Sign in">
        </div>
    </form>
</div>