﻿@model CMSys.Web.Areas.Admin.ViewModels.EditCourseViewModel

@{
    ViewBag.Title = "Add course ";

    var groups = new List<SelectListItem>();
    groups.AddRange(Model.Groups.Select(x => new SelectListItem(x.Name, x.Id.ToString())));

    var types = new List<SelectListItem>();
    types.AddRange(Model.Types.Select(x => new SelectListItem(x.Name, x.Id.ToString())));
}

<form asp-action="Add">
    <div class="form-group">
        <label asp-for="Course.Name">Name</label>
        <input asp-for="Course.Name" class="form-control" />
        <span asp-validation-for="Course.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Course Group</label>
        <div class="input-group-append" style="margin-right: 8px">
            <select class="custom-select" style="width:300px;" asp-for="Course.CourseGroupId">
                @foreach (var item in groups)
                {
                    <option style="background-color: white" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Course Group</label>
        <div class="input-group-append" style="margin-right: 8px">
            <select class="custom-select" style="width:300px;" asp-for="Course.CourseTypeId">
                @foreach (var item in types)
                {
                    <option style="background-color: white" value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Course.VisualOrder">Visual Order</label>
        <input asp-for="Course.VisualOrder" class="form-control" data-val="false" />
        <span asp-validation-for="Course.VisualOrder" class="text-danger"></span>
    </div>
    <div class="form-check" style="padding-left: 0; margin-bottom: 10px">
        <label asp-for="Course.IsNew" class="form-check-label" for="exampleCheck1">Is new</label>
        <input asp-for="Course.IsNew" type="checkbox" value="" class="form-check-input" id="exampleCheck1" style="margin-left: 3px">
    </div>
    <div class="form-group">
        <label asp-for="Course.Description"></label>
        <textarea asp-for="Course.Description" class="form-control owerflow-auto" placeholder="Put description here" rows="5" style="height: 60px"></textarea>
    </div>
    <div class="card-footer">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a asp-action="List" type="button" class="btn btn-outline-secondary">Back to list</a>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
