﻿@model CMSys.Core.Entities.Course

@{
    ViewBag.Title = "Course details";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="card" style="margin-top: 20px;">
            <h5 class="card-header">
                @Model.Name
            </h5>
            <div class="card-body" style="padding-left: unset; padding-right: unset;">
                <div class="container">
                    <span class="badge badge-secondary">@Model.CourseType.Name</span>
                    <div>@Model.Description</div>
                    <a asp-action="List" type="button" class="btn btn-outline-secondary" style="margin-top: 15px;">Back to list</a>
                </div>
            </div>
        </div>
    </main>
</div>