﻿@model CMSys.Web.Areas.Admin.ViewModels.EditCourseTrainersViewModel
@{
    ViewBag.Title = "Update trainers for  " + Model.Course.Name;

    var trainers = new List<SelectListItem>();
    trainers.AddRange(Model.Trainers.Select(x => new SelectListItem(x.User.FirstName + " " + x.User.LastName, x.Id.ToString())));

}

<div style="display: flex">
    <form asp-action="AddTrainer" asp-route-trainerId="@Model.TrainerId" asp-route-courseId="@Model.Course.Id" style="width: 45%">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group-append" style="margin-right: 8px">
                        <select class="custom-select" asp-for="TrainerId">
                            @foreach (var item in trainers)
                            {
                                <option style="background-color: white" value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <input type="submit" class="btn btn-outline-primary" name="Add" value="Add" style="margin-top: 10px" />
                </div>
            </div>
        </div>
    </form>

    <table class="table table-bordered" style="width: 50%; margin-left: 55px">
        <thead>
        <tr>
            <th>Trainer</th>
            <th>Order</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var trainer in Model.Course.CourseTrainers)
        {
            <tr id="@trainer.TrainerId" style="line-height: 20px">
                <td style="vertical-align: middle">@trainer.Trainer.User.FirstName @trainer.Trainer.User.LastName</td>
                <td style="vertical-align: middle">
                    <div style="border: 1px solid lightgray;">@trainer.VisualOrder</div>
                </td>
                <td>
                    <form asp-action="RemoveTrainer" asp-route-courseId="@Model.Course.Id" asp-route-trainerId="@trainer.TrainerId" style="display: inline">
                        <input type="hidden" name="id" value="@trainer.TrainerId" />
                        <button type="submit" class="btn btn-outline-light" style="border: 1px solid red; margin-left: 5px; width: 30px; display: block;">
                            <i style="font-size: 14px; display: block; margin-left: -95%; color: red;" class="fa fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="List" type="button" class="btn btn-outline-secondary" style="margin-bottom: -23px">Back to list</a>
</div>