﻿@model CMSys.Web.ViewModels.CourseViewModel
@addTagHelper *, CMSys.Web
@{
    ViewBag.Title = "Courses";

    var ctype = Model.Types.FirstOrDefault(c => c.Id.CompareTo(Model.CurrentType) == 0);
    string CurrentTypeName = ctype != null ? ctype.Name : "All types";

    var cgroup = Model.Groups.FirstOrDefault(c => c.Id.CompareTo(Model.CurrentGroup) == 0);
    string CurrentGroupName = cgroup != null ? cgroup.Name : "All groups";
}

<partial name="PopUp"/>

<partial name="DeletePopUp" />

<div class="container" style="display: flex; padding: 0">

    <paging class="col-6" page-model="Model.PageModel" area="Admin" action="List" controller="Course"></paging>

    <div class="dropdown float-right col-sm" style="padding: 0;">
        <button id="btnTypeId" class="btn btn-light dropdown-toggle" style="float: right; width: 75%; text-align: left; border: 1px solid lightgray" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CurrentTypeName
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-action="List" class="dropdown-item">All types</a>
            @foreach (var type in Model.Types)
            {
                <a asp-action="List" asp-route-groupId="@Model.CurrentGroup" asp-route-typeId="@type.Id" class="dropdown-item">@type.Name</a>
            }
        </div>
    </div>

    <div class="dropdown float-right col-sm" style="padding: 0; margin-right: 40px">
        <button class="btn btn-light dropdown-toggle" style="float: right; width: 80%; text-align: left; border: 1px solid lightgray" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CurrentGroupName
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-action="List" class="dropdown-item">All groups</a>
            @foreach (var group in Model.Groups)
            {
                <a asp-action="List" asp-route-groupId="@group.Id" asp-route-typeId="@Model.CurrentType" class="dropdown-item">@group.Name</a>
            }
        </div>
    </div>

    <a asp-action="Add" asp-route-id="" class="btn btn-outline-light" style="border: 1px solid lightgray; width: 37px; height: 37px; display: block; background:whitesmoke ">
        <i class="fa fa-plus" aria-hidden="true" style="font-size:25px; display: block; margin-left: -47%; color: gray"></i>
    </a>

</div>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Course Name</th>
            <th>Type</th>
            <th style="width: 170px">Group</th>
            <th style="min-width: 170px">Trainers</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.PageModel)
        {
            <tr>
                <td style="font-weight: bold">@course.Name</td>
                <td>@course.CourseType.Name</td>
                <td>@course.CourseGroup.Name</td>
                <td rowspan="2">
                    @foreach (var trainer in course.CourseTrainers)
                    {
                        <a id="@trainer.Trainer.Id" onclick="onTrainerClick(event)" class="text-primary" style="float: left">@trainer.Trainer.User.FirstName @trainer.Trainer.User.LastName</a>
                    }
                </td>
                <td rowspan="2">
                    <div style="display: flex;">
                        <a asp-action="Details" asp-route-id="@course.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; width: 30px; display: block;">
                            <i class="fa fa-info-circle text-primary" style="font-size: 20px; display: block; margin-left: -185%"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@course.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; margin-left: 5px; width: 30px; display: block;">
                            <i class="fas" style="font-size: 20px; display: block; margin-left: -185%; color: #007bff;"> &#xf303; </i>
                        </a>
                    </div>
                    <div style="display: flex; margin-top: 5px">
                        <a asp-action="EditTrainers" asp-route-id="@course.Id" class="btn btn-outline-light" style="border: 1px solid #007bff; width: 30px; display: block;">
                            <i class="fa" style="font-size: 20px; display: block; margin-left: -260%; color: #007bff;">&#xf0c0;</i>
                        </a>
                        <a onclick="onDeleteCourseClick(event)" id="@course.Id" class="btn btn-outline-light" style="border: 1px solid red; margin-left: 5px; width: 30px;">
                            <i id="@course.Id" style="font-size: 20px; display: block; margin-left: -172%; color: red;" class="fa fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">@Html.Raw(course.Description)</td>
            </tr>
        }
    </tbody>
</table>
