﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Trainer" asp-action="List">Trainers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="List">Courses</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Trainer" asp-action="List">Trainers(Admin)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Course" asp-action="List">Courses(Admin)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="CourseGroup" asp-action="List">Course Groups(Admin)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="TrainerGroup" asp-action="List">Trainer Groups(Admin)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="List">Users(Admin)</a>
                            </li>
                    </ul>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row ml-auto ">
                    <div class="row">
                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-primary" asp-controller="UserDetails" asp-action="Details" asp-route-email="@Context.User.Claims.ElementAt(1).Value">@(Context.User.Identity.Name)</a>
                            <a class="nav-link text-primary" asp-controller="Login" asp-action="Logout">Sign out</a>
                        }
                        else
                        {
                            <a class="nav-link text-primary" asp-controller="Login" asp-action="Login">Sign in</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="card" style="margin-top: 20px;">
                <h5 class="card-header">
                    @ViewBag.Title
                </h5>
                <div class="card-body" style="padding-left: unset; padding-right: unset;">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>